.Body{
    padding: 20px 0px;
    text-align: center;
}

.img-model{
    width: 50%;
    text-align: center;
}
.model{
   position: relative;
}
.glass-model img{
   position: absolute;
   width: 120px;
   left: 210px;
   top: 88px;
}
.content{
    position: absolute;
    bottom: -16px;
    width: 50%;
    text-align: left;
    right: 137px;
    color: black;
    background-color: #FFEAA7;
    padding: 0px 10px;
    
}

.name{
    margin-bottom: 10px;
    font-weight: 500;
}

.describes{
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.select-glass{
   display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.select-glass img{
    width: 100px;
    border:1px solid black;
    height: 60px;
    object-fit: contain;
    margin-left: 20px;
    cursor: pointer;
   
}