.header{
    background-color: black;
    text-align: center;
}
.header p{
    color: white;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 0px;
    font-size: 16px;
    letter-spacing: 2px;
}